@import url("https://www.fontstatic.com/f=cocon-next-arabic");
/* Start Variables */
:root {
  --main-color: #007236;
  --second-color: white;
  --hover-color: #ddffbb;
  --main-font: "cocon-next-arabic", sans-serif;
  --second-font: "Amiri", sans-serif;
  --Third-font: "Lemonada", sans-serif;
  --main-transition: 0.3s;
  --main-padding-top: 40px;
  --main-padding-bottom: 100px;
}
/* End Variables */
/* Start Global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px var(--main-color);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 2px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
  scroll-behavior: smooth;
  scrollbar-color: var(--main-color);
}
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background: #1b1b1b;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: var(--hover-color);
}

.pace.pace-inactive {
  display: none;
}

#preloader {
  width: 100%;
  height: 100vh;
  background-color: var(
    --main-color
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #007236, #25d366);
  overflow: hidden;
  position: fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 10;
}
.p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--hover-color);
}
.p img {
  width: 200px;
  height: 170px;
  margin-bottom: 100px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 40px;
  border: none;
  outline: none;
  color: var(--main-color);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: 0.3s;
}

#myBtn:hover {
  opacity: 0.8;
}
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  transition: 0.3s;
  z-index: 100;
}
.whatsapp-icon {
  margin-top: 16px;
}

ul {
  list-style: none;
  margin: 10px 0px 0px 10px;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.8;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Meduim Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* End Components */
/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  height: 115px;
  z-index: 2;
  transition: 0.5s;
}
header .container {
  display: flex;
  position: fixed;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  max-height: 90px;
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
  background-image: url(../../ar/image/img.png);
  background-size: cover;
}
.logo-img img {
  position: relative;
  height: 150px;
  width: 170px;
  top: 15px;
  margin-right: 20px;
  z-index: 5;
}
@media (max-width: 992px) {
  .logo-img img {
    position: relative;
    height: 129px;
    width: 130px;
    top: 20px;
    margin-right: 0;
    z-index: 5;
  }
  ul {
    padding-right: 0px;
  }
}
@media (max-width: 1300px) {
  header .container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    border-radius: 0px 0px 20px 20px;
    align-items: center;
    max-height: 90px;
    width: 100%;
    margin: 0;
    background-image: url(../../ar/image/img.png);
    background-size: cover;
  }
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .toggle-menu {
  color: var(--second-color);
  font-size: 22px;
}
@media (min-width: 1025px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
  padding-left: 0;
}
header nav ul li a {
  padding: 20px 20px;
  display: block;
  color: var(--second-color);
  height: 80px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  transition: 0.2s;
  position: relative;
  z-index: 2;
}
@media (max-width: 1150px) {
  header nav ul li a {
    padding: 20px 20px;
    display: block;
    color: var(--second-color);
    height: 80px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
  }
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--hover-color);
  border-bottom: 2px solid var(--hover-color);
}
@media (max-width: 1024px) {
  header nav ul {
    display: none;
  }
  header .container nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #238f56;
    position: absolute;
    right: 0;
    border-radius: 10px;
    min-width: 200px;
    z-index: 5;
  }
  header .container nav ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #238f56 transparent;
    position: absolute;
    right: 4%;
    top: -20px;
  }
  header .container nav ul li a {
    display: block;
    text-align: left;
    height: 45px;
    text-decoration: none;
    color: rgb(245, 243, 239);
    transition: 0.3s;
  }
  header nav ul li a.active,
  header nav ul li a:hover {
    color: var(--hover-color);
    border-bottom: 0px solid var(--hover-color);
  }
  header nav ul li a:hover {
    padding-left: 30px !important;
  }
  /* Dropdown Button */
  .dropbtn {
    display: flex;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--main-transition);
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }
}
header nav .form {
  direction: ltr;
  width: 40px;
  height: 30px;
  right: -15px;
  position: relative;
  margin-right: 10px;
  /* border-right: 2px solid var(--second-color); */
}
@media (min-width: 768px) {
  header nav .form {
    direction: ltr;
    width: 40px;
    height: 30px;
    right: 0px;
    position: relative;
    border-left: 1px solid var(--second-color);
  }
}
header nav .form i {
  color: var(--second-color);
  position: relative;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
@media (min-width: 768px) {
  header nav .form i {
    color: var(--second-color);
    position: relative;
    font-size: 20px;
    top: 50%;
    padding-left: 15px;
    transform: translateY(-50%);
    right: 0;
  }
}
.language-a {
  color: var(--second-color);
  font-size: 20px;
  font-weight: 500;
  transition: var(--main-transition);
}
.language-a:hover {
  color: var(--hover-color);
}

/*=============== SEARCH ===============*/
.container-search {
  place-items: center;
}

.search {
  position: relative;
  width: 50px;
  height: 76px;
  padding: 10px 0px;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__input {
  color: var(--main-color);
  border: none;
  outline: none;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 14px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}
.search__input:-webkit-autofill {
  box-shadow: 0 0 0 100px var(--white-color) inset;
}
.search__button {
  width: 50px;
  height: 56px;
  background-color: #dddddd00;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__icon,
.search__close {
  color: var(--second-color);
  font-size: 1.5rem;
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__close {
  opacity: 0;
}

/* Search animated */
.show-search {
  width: 100%;
}
.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
  color: var(--main-color);
}
.show-search .search__button {
  transform: rotate(90deg);
}
.show-search .search__icon {
  opacity: 0;
}
.show-search .search__close {
  opacity: 1;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .show-search {
    width: 250px;
  }
}
@media (min-width: 1024px) and (max-width: 1160px) {
  #ul-search {
    display: none;
  }
}
header .container nav .dropdown-content-1 {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #238f56;
  position: absolute;
  right: 15%;
  border-radius: 10px;
  min-width: 200px;
  max-height: 100px;
  overflow-y: scroll;
  z-index: 5;
}
header .container nav .dropdown-content-1::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #238f56 transparent;
  position: absolute;
  right: 4%;
  top: -20px;
}
header .container nav .dropdown-content-1 li a {
  display: block;
  text-align: left;
  height: 45px;
  text-decoration: none;
  color: rgb(245, 243, 239);
  transition: 0.3s;
}
header nav .dropdown-content-1 li a.active,
header nav .dropdown-content-1 li a:hover {
  color: var(--hover-color);
  border-bottom: 0px solid var(--hover-color);
}
header nav .dropdown-content-1 li a:hover {
  padding-left: 30px !important;
}
/* Dropdown Button */
.dropbtn-1 {
  display: flex;
  color: white;
  padding: 8px 8px 8px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
/* The container <div> - needed to position the dropdown content */
.dropdown-1 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show-1 {
  display: block;
}
/* End Header */
/* Start Landing */
.landing {
  height: 100vh;
}
@media (max-width: 1024px) and (min-height: 1366px) {
  .landing {
    height: 50vh;
  }
}
.swiper-landing h2 {
  position: absolute;
  top: 75%;
  right: 30%;
  margin: 0 auto 0 auto;
  padding: 0.3em;
  background: linear-gradient(#ddffbb 20%, #007236 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  text-shadow: 6px 14px 35px;
  font-family: var(--Third-font);
  animation-duration: 3s;
  z-index: 10;
}
@media (max-width: 992px) {
  .swiper-landing h2 {
    position: absolute;
    top: 75%;
    right: 20%;
    margin: 0 auto 0 auto;
    padding: 0.3em;
    background: linear-gradient(#ddffbb 20%, #007236 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    text-shadow: 6px 14px 35px;
    font-family: var(--Third-font);
    animation-duration: 3s;
    z-index: 10;
  }
}
@media (max-width: 820px) {
  .landing {
    height: 50vh;
  }
  .swiper-landing h2 {
    position: absolute;
    top: 75%;
    right: 27%;
    margin: 0 auto 0 auto;
    padding: 0.3em;
    background: linear-gradient(#ddffbb 20%, #007236 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-shadow: 6px 14px 35px;
    font-family: var(--Third-font);
    animation-duration: 3s;
    z-index: 10;
  }
}
@media (min-width: 400px) and (max-height: 600px) {
  .landing {
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .landing {
    height: 40vh;
  }
  .swiper-landing h2 {
    position: absolute;
    top: 75%;
    right: 20%;
    margin: 0 auto 0 auto;
    padding: 0.3em;
    background: linear-gradient(#ddffbb 20%, #007236 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-shadow: 6px 14px 35px;
    font-family: var(--Third-font);
    animation-duration: 3s;
    z-index: 10;
  }
}
@media (min-width: 1400px) {
  .landing {
    height: 100vh;
  }
  .swiper-landing h2 {
    position: absolute;
    top: 75%;
    right: 33%;
    margin: 0 auto 0 auto;
    padding: 0.3em;
    background: linear-gradient(#ddffbb 20%, #007236 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    text-shadow: 6px 14px 35px;
    font-family: var(--Third-font);
    animation-duration: 3s;
    z-index: 10;
  }
}
.swiper-landing {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
}
.slide-landing {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.slide-landing img {
  width: 100%;
  height: 100%;
}
.swiper-button-next2 {
  right: 5px;
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev2 {
  left: 5px;
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-pagination2 {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.line {
  position: relative;
  width: 40%;
  height: 20px;
  background-color: var(--main-color);
  margin: auto;
  top: 10px;
  border-radius: 10px;
  transition: var(--main-transition);
}
.line:hover {
  width: 80%;
}
/* End Landing */
/* Start About */
.about {
  padding-top: 90px;
}
.about .back-image {
  position: relative;
  width: 100%;
  opacity: 0.4;
  z-index: -5;
}
@media (max-width: 820px) {
  .about .back-image {
    position: relative;
    width: 100%;
    z-index: -5;
  }
}
@media (max-width: 767px) {
  .about .back-image {
    position: relative;
    width: 100%;
    z-index: -5;
  }
}
.about .front-image {
  position: absolute;
  margin-top: 60px;
  width: 40%;
  height: 80vh;
  right: 0;
}
@media (max-width: 820px) {
  .about .front-image {
    position: absolute;
    width: 40%;
    height: 50vh;
    right: 0;
  }
}
@media (max-width: 767px) {
  .about .front-image {
    display: none;
  }
}
.about h1 {
  text-align: center;
  font-size: 40px;
  color: var(--main-color);
  text-shadow: 7px 8px 15px;
  opacity: 0.7;
}
.about .para-about {
  position: absolute;
}
.about .para-about span {
  font-family: var(--second-font);
  color: var(--main-color);
  width: 80%;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  font-size: 25px;
  display: flex;
  margin-bottom: 10px;
  text-align: center;
}
.p2 {
  display: none;
}
.p3 {
  display: none;
}
.about .para-about .p1 {
  font-family: var(--second-font);
  color: var(--main-color);
  width: 50%;
  margin-left: 50px;
  margin-top: 60px;
  padding: 25px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  word-spacing: 5px;
  border: 2px;
  border-radius: 40px;
  box-shadow: 10px 15px 30px;
  transition: 0.3s;
}
.about .para-about .p1:hover {
  border: 2px;
  border-radius: 40px;
  box-shadow: 8px 8px 30px;
  transition: 0.3s;
}

@media (max-width: 1400px) {
  .about .para-about .p1 {
    display: none;
  }
  .about .para-about .p2 {
    display: block;
    font-family: var(--second-font);
    color: var(--main-color);
    width: 50%;
    margin-left: 50px;
    margin-top: 60px;
    padding: 25px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    word-spacing: 5px;
    border: 2px;
    border-radius: 40px;
    box-shadow: 10px 15px 30px;
    transition: 0.3s;
  }
  .about .para-about .p2:hover {
    border: 2px;
    border-radius: 40px;
    box-shadow: 8px 8px 30px;
    transition: 0.3s;
  }
}
@media (max-width: 1100px) {
  .about .front-image {
    display: none;
  }
  .about .para-about .p1 {
    display: none;
  }
  .about .para-about .p2 {
    display: block;
    font-family: var(--second-font);
    color: var(--main-color);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    padding: 25px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    word-spacing: 5px;
    border: 2px;
    border-radius: 40px;
    box-shadow: 10px 15px 30px;
    transition: 0.3s;
  }
  .about .para-about .p2:hover {
    border: 2px;
    border-radius: 40px;
    box-shadow: 8px 8px 30px;
    transition: 0.3s;
  }
}
@media (max-width: 820px) {
  .about {
    padding-top: 90px;
    height: 500px;
  }
  .about .para-about .p2 {
    display: none;
  }
  .about .para-about .p3 {
    display: block;
    font-family: var(--second-font);
    color: var(--main-color);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    padding: 25px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    word-spacing: 5px;
    border: 2px;
    border-radius: 40px;
    box-shadow: 10px 15px 30px;
    transition: 0.3s;
  }
  .about .para-about .p3:hover {
    border: 2px;
    border-radius: 40px;
    box-shadow: 8px 8px 30px;
    transition: 0.3s;
  }
}
@media (max-width: 600px) {
  .about {
    padding-top: 90px;
    height: 730px;
  }
  .about .para-about .p2 {
    display: none;
  }
  .about .para-about .p3 {
    display: block;
    font-family: var(--second-font);
    color: var(--main-color);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    padding: 25px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    word-spacing: 5px;
    border: 2px;
    border-radius: 40px;
    box-shadow: 10px 15px 30px;
    transition: 0.3s;
  }
  .about .para-about .p3:hover {
    border: 2px;
    border-radius: 40px;
    box-shadow: 8px 8px 30px;
    transition: 0.3s;
  }
}

/* End About */

/* Start Product */
.product {
  padding-top: 90px;
  margin-top: 140px;
}
@media all and (((max-width: 1099px) and (max-width: 1320px))) {
  .product {
    padding-top: 90px;
    margin-top: 0px;
  }
}
@media all and (((min-width: 0px) and (max-width: 600px))) {
  .product {
    padding-top: 90px;
    margin-top: 210px;
  }
}
.product h1 {
  text-align: center;
  font-size: 50px;
  color: var(--main-color);
  text-shadow: 7px 8px 15px;
  opacity: 0.7;
}
.articles {
  padding-top: var(--main-padding-top);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles a:hover {
  transform: translateY(-10px);
}
.articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}
.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img {
  width: 100%;
  max-width: 100%;
}
.articles .box img:hover {
  width: 100%;
  max-width: 100%;
  transform: scale(1.1, 1.1);
  transition: var(--main-transition);
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  color: var(--main-color);
  text-align: center;
}
.articles .box .content::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}
.articles .box .content:hover::before {
  width: 100%;
  height: 100%;
}
.articles .box .content h3 {
  margin: 0;
}
.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  text-align: center;
  color: var(--main-color);
}
.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color);
}
.box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
.product .back-image1 {
  position: absolute;
  width: 100%;
  opacity: 0.4;
  z-index: -5;
}
@media (max-width: 820px) {
  .product .back-image1 {
    position: absolute;
    width: 100%;
    z-index: -5;
  }
}
@media (max-width: 767px) {
  .product .back-image1 {
    position: absolute;
    width: 100%;
    z-index: -5;
  }
}

/* End Product */

/* Start Places */
.places {
  padding-top: 90px;
}
.places h1 {
  text-align: center;
  font-size: 50px;
  color: var(--main-color);
  text-shadow: 7px 8px 15px;
  opacity: 0.7;
  margin-bottom: 45px;
}
.places .back-image1 {
  position: absolute;
  width: 100%;
  height: 80vh;
  opacity: 0.4;
  translate: 0px 100px;
  z-index: -5;
}
@media (max-width: 820px) {
  .places .back-image1 {
    position: absolute;
    width: 100%;
    translate: 0px 35px;
    z-index: -5;
  }
}
@media (max-width: 767px) {
  .places .back-image1 {
    position: absolute;
    width: 100%;
    z-index: -5;
  }
}
.map5 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoom {
  width: max-content;
  position: relative;
}
.zoom img {
  width: 100%;
}
#imgZoom {
  position: absolute;
  left: 0;
  top: 0;
  --zoom-x: 50%;
  --zoom-y: 50%;
  transform: scale(1.1);
  pointer-events: none;
  clip-path: circle(100px at var(--zoom-x) var(--zoom-y));
  opacity: 0;
}
@media (max-width: 1400px) {
  #imgZoom {
    display: none;
  }
}
/* End Places */

/* Start News*/
.news {
  padding-top: 90px;
}
.news h1 {
  text-align: center;
  margin: 26.8px 0 0;
  font-size: 40px;
  color: var(--main-color);
  text-shadow: 7px 8px 15px;
  opacity: 0.7;
}
.news .back-image1 {
  position: absolute;
  width: 100%;
  opacity: 0.4;
  translate: 0px 100px;
  z-index: -5;
}
@media (max-width: 820px) {
  .news .back-image1 {
    position: absolute;
    width: 100%;
    translate: 0px 35px;
    z-index: -5;
  }
}
@media (max-width: 767px) {
  .news .back-image1 {
    position: absolute;
    width: 100%;
    z-index: -5;
  }
}
.news-container {
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
}
.slide-container .h2 {
  padding: 10px;
  margin: 0px 0 30px 35px;
  width: 260px;
  text-align: center;
  color: var(--main-color);
  transition: 0.3s;
  border-radius: 10px;
  border: 3px solid var(--main-color);
}
.news-container .h2:hover {
  color: var(--second-color);
  font-weight: 100;
  transition: all 0.3s ease;
  background-color: var(--main-color);
  border-radius: 35px 5px 35px 5px;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 20px 0 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #fff;
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.card-content {
  background-color: #fbf9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
#our-news .card-content {
  background-color: #fbf9f9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 14px;
}
#our-news .card-content h2 {
  margin-left: auto;
  margin-right: auto;
  color: var(--main-color);
}
.card-content span {
  color: var(--main-color);
}
.image-content {
  background-color: #fbf9f9;
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fbf9f9;
}

.card-image {
  position: relative;
  height: 210px;
  width: 90%;
  border-radius: 25px;
  background: #fbf9f9;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  border: 4px solid var(--main-color);
}
.slide-content1 .card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 0 35%;
  border-radius: 25px;
  border: 4px solid var(--main-color);
}

.name {
  z-index: 10;
}
.h3 {
  margin: 10px 0 10px 28px;
}

.descrption {
  text-align: left;
  margin: 10px 25px;
}

.swiper-navBtn {
  color: #007236;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  opacity: 0.8;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  display: none;
  font-size: 40px;
}
.swiper-button-next {
  right: 5px;
}
.swiper-button-prev {
  left: 5px;
}
.swiper-pagination-bullet {
  background-color: #3ba96e;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #007236;
}
@media screen and(max-width:768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
.slide-content1 {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.swiper-button-next1 {
  right: 5px;
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev1 {
  left: 5px;
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-pagination1 {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.slide-container .h2-1 {
  padding: 10px;
  margin: 0px 35px 30px 0px;
  width: 130px;
  text-align: center;
  color: var(--main-color);
  transition: 0.3s;
  border-radius: 10px;
  border: 3px solid var(--main-color);
}
.slide-container .h2-1:hover {
  color: var(--second-color);
  font-weight: 100;
  transition: all 0.3s ease;
  background-color: var(--main-color);
  border-radius: 5px 35px 5px 35px;
}
.all {
  display: flex;
  flex-wrap: wrap;
}
.new-card {
  width: 300px;
  height: 500px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;

  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);

  .card-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(45 97 54) -40%, #ccf5b1 100%);
    .top {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
    }
    .top img {
      width: 80%;
    }
    .new-card-content {
      text-align: center;
      font-weight: bold;
    }
    .new-card-content h2 {
      color: azure;
    }
  }
}

.inside {
  z-index: 9;
  background: linear-gradient(0deg, rgb(45 97 54) -40%, #ccf5b1 100%);
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
  .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    color: white;
    opacity: 1;
  }
  &:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 100%;
    .icon {
      opacity: 0;
      right: 15px;
      top: 15px;
    }
    .item {
      opacity: 1;
      transform: scale(1);
      transform: translateY(0);
    }
    .about-card {
      opacity: 1;
      transform: scale(1);
      transform: translateY(0);
    }
  }

  .item {
    color: #06120c;
    height: 50%;
    text-align: center;
    margin-top: 20%;
    font-size: 20px;
    transform: scale(0.5);
    transform: translateY(-400%);
    transition: opacity 0.2s, transform 0.8s;
  }
  .about-card {
    text-align: center;
    font-weight: bold;
    margin-top: 20%;
    transform: scale(0.5);
    transform: translateY(-400%);
    transition: opacity 0.2s, transform 0.8s;
  }
  .about-card h2 {
    color: #fff;
  }
}
/* End News*/

/* Start Footer */
footer {
  padding-top: 50px;
  background-size: cover;
  background-image: url(../../ar/image/Footer.png);
}
footer h1 {
  text-align: center;
  margin: 0 0 26.8px 0;
  font-size: 40px;
  color: var(--main-color);
  text-shadow: 7px 8px 15px;
  opacity: 0.7;
}
.div-img {
  width: 34%;
}
.div-img img {
  width: 90px;
  height: 90px;
  opacity: 0.9;
  margin-left: 15%;
}
footer .back-image1 {
  position: absolute;
  width: 100%;
  height: 60vh;
  opacity: 1;
  translate: 0px 100px;
  background-size: cover;
  z-index: -5;
}
@media (max-width: 820px) {
  footer .back-image1 {
    position: absolute;
    width: 100%;
    height: 40vh;
    opacity: 1;
    translate: 0px 100px;
    z-index: -5;
  }
}
.contact {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
@media (max-width: 820px) {
  .contact {
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: 35% 30% 35%;
  }
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 600px) {
  .contact {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 35% 30% 35%;
  }
}
@media only screen and (min-device-width: 1024px) and (min-device-height: 1366px) {
  .contact {
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: 35% 30% 35%;
  }
}
@media (min-width: 400px) and (max-height: 600px) {
  .contact {
    height: 90vh;
  }
}
.inner-contact-1,
.inner-contact-2,
.inner-contact-3 {
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
}
.inner-contact-1 h3 {
  color: var(--main-color);
  text-shadow: 7px 8px 15px;
  margin-left: 15%;
  font-size: 20px;
}
.inner {
  margin-bottom: 15px;
  margin-left: 15%;
  padding: 5px;
}
.inner i {
  color: var(--main-color);
}
.inner .span-1 {
  color: black;
  margin-left: 5px;
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
}
.inner .span-2 {
  color: var(--main-color);
  font-weight: 900;
  font-size: 16px;
}
.inner .span-2 a {
  color: var(--main-color);
  font-weight: 900;
  font-size: 16px;
}
.inner-contact-2-1 {
  display: grid;
  height: 50%;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-template-rows: 50% 50%;
}
.inner-contact-2-1 a {
  color: var(--main-color);
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: auto;
}
.inner-contact-2 .inner-media-1 {
  display: none;
}
@media (max-width: 600px) {
  .contact {
    width: 100%;
    height: 55vh;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .inner-contact-2 .inner-media-1 {
    display: block;
  }
  .inner-contact-3 {
    display: none;
  }
}
.inner-contact-2 .inner-media-1 .inner-3 {
  margin-bottom: 30px;
  margin-left: 20%;
}
.inner-contact-2 .inner-media-1 i {
  color: var(--main-color);
}
.inner-contact-2 .inner-media-1 span a {
  color: black;
  text-shadow: 7px 8px 15px;
  margin-left: 5%;
  font-weight: 700;
  font-size: 20px;
}
.inner-contact-3 .inner-media-2 {
  margin-top: 20px;
}
.inner-contact-3 .inner-media-2 .inner-3 {
  margin-bottom: 30px;
}
.inner-contact-3 .inner-media-2 i {
  color: var(--main-color);
}
.inner-contact-3 .inner-media-2 span a {
  color: black;
  text-shadow: 7px 8px 15px;
  margin-left: 5%;
  font-weight: 700;
  font-size: 20px;
}
.footer {
  background-color: var(--hover-color);
  padding: 20px 10px;
  line-height: 25px;
  text-align: center;
  font-size: 17px;
  font-weight: 900;
}
.footer span {
  color: var(--main-color);
}
/* End Footer */
